@tailwind base;
@tailwind components;
@tailwind utilities;

/* .cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.job-card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/4;
} */